<h1>New Task</h1>

<%= form_tag("/todo", :method => "POST") do %>
	<%= label_tag(:priority, "Priority") %><br/>
	<%= select_tag(:priority, options_for_select(@priorities)) %><br/><br/>
	
	<%= label_tag(:date, "Deadline date")%><br/>
	<%= text_field_tag(:date, "", :class => "datepicker")%><br/><br/>
	
	<%= label_tag(:title, "Title") %><br/>
	<%= text_field_tag(:title )%><br/><br/>
		
	<%= label_tag(:description, "Description") %><br/>
	<%= text_area_tag(:description) %><br/><br/>
	
	<%= submit_tag "Save" %>
<% end %>
